.home {background:url(../images/logobg.png) no-repeat center center}
.home div.menu {
	float:left;width:96px;height:96px;margin:0 18px 18px 0;text-align:center;-webkit-border-radius:0.4em;border-radius:0.4em
}
.home .menu_selected div.menu {background:#CCFF00;border:#eee solid 0px}
.home .menu_pressed div.menu {background:#0265dc;border:0}


.home div.menu img {margin:5px auto}
.home div.menu p {margin:0}
.home div.menu p span {
	font:normal 14px 微软雅黑;background:#000;color:#fff;padding:2px 6px;-webkit-border-radius:0.8em;border-radius:0.8em
}


.mediacontainer {padding:10px 0 0 10px}

.media_selected .mediaitemwrap {
	background:#ddd;border-color:#aaa
}
.media_pressed .mediaitemwrap {background:#ffcc00;border-color:#ff6600}

.mediaitemwrap {	
	background-color:#fff;
	margin:0 10px 10px 0;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
	border:#ddd solid 2px;
	padding:6px;
	overflow: hidden;
}

.mediaitem {
	text-align:center;
	background-repeat:no-repeat;
	width:142px;
	height:250px;
	-webkit-border-radius: 0.4em;
	border-radius: 0.4em;
	cursor:pointer
}


.picture {background-size: auto 100%;background-position:center}
.video {background-image:url(../images/video_bg.png);background-position:center}
.audio {background-image:url(../images/audio_bg.png);background-position:center}